.profile_container {
  display: flex;
  gap: 3.3%;
  justify-content: space-evenly;
  flex: 1 1 auto;
  padding: 2rem;
  flex-wrap: wrap;
}

.reserved_container {
  width: 30%;
}

li {
  border: 1px solid gray;
  width: 100%;
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin-top: 1rem;
  padding: 0;
}
